@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
}

/* Navigation Styles */
nav {
  background-color: #e5e5e5;
  border-bottom: 1px solid lightgray;
}

nav h1 {
  color: #222222;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0.5rem 2rem;
}

ul {
  display: flex;
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  transition: 0.5s all ease;
  border-radius: 20px;
}

li a:hover {
  background-color: #0096aa;
}

/* Header Styles */
header {
  min-height: calc(100vh - 60px);
  background-color: #f2f2f2;
  align-items: center;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  margin: 15rem auto;
  border: 1px solid lightgray;
  padding: 1rem;
}

form input {
  padding: 0.5rem 0.3rem;
  font-family: inherit;
  border: 1px solid black;
}

form select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.2rem;
  min-width: 90%;
  font-family: inherit;
}

form button {
  padding: 0.4rem 0.3rem;
  font-family: inherit;
  background-color: black;
  color: white;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 15%;
  border-radius: 200px;
  font-size: 14px;
}

form button:hover {
  opacity: 0.8;
}

form .select-container {
  display: grid;
  grid-template-columns: 1fr;
}

form .select-container label {
}

.save-btn {
  background-color: green;
  margin-right: 0.5rem;
}

.edit-btn {
  background-color: #0096aa;
}

/* Footer Styles */
footer {
  background-color: rgb(2, 71, 79);
  color: white;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0.4rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-footer {
  margin-top: 0.2rem;
}

.logo-footer svg {
  margin-right: 0.8rem;
}

.name-input {
}

.header-container {
  display: grid;
}

/* Sidebar Styles */
.sidebar {
  position: absolute;
  background-color: #0096aa;
  width: 23.5%;
  margin-left: -2rem;
  height: calc(100vh - 60px);
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  form {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    min-width: 90%;
    margin: auto;
  }

  .footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0.4rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li a {
    font-size: 0.9rem;
    margin-right: 0.1rem;
  }
}
