@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  /* background-color: ; */
  border-bottom: 1px solid lightgray;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0.5rem 2rem;
}

ul {
  display: flex;
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
  margin-right: 2rem;
}

header {
  height: calc(100vh - 51px);
  /* background-color: gray; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  padding: 0rem 2rem;
}

form {
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

form input {
  padding: 0.5rem 0.3rem;
  font-family: inherit;
  /* outline: 1px solid black; */
  border: 1px solid black;
}

form select {
  padding: 0.5rem 0.2rem;
  font-family: inherit;
}

form button {
  padding: 0.7rem 0.3rem;
  font-family: inherit;
  background-color: black;
  color: white;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

form button:hover {
  opacity: 0.8;
}

form .select-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

form .select-container label {
  /* background-color: red; */
}

.save-btn {
  background-color: green;
}

.edit-btn {
  background-color: red;
}
